*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecera{
    text-align: center;
    font-size: 1.4rem;
    background-color: #4141b4;
    color: white;
    margin-bottom: 20px;
    padding: 15px 0;
}

#container{
    width: 40%;
    margin: 30px auto;
    padding: 25px;
    border: solid 1px black;
}

#container h1{
    margin-bottom: 15px;
    font-size: 2rem;
}

#container p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
