*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #0f0f0f;
}

header{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #444242;
    color: white;
    margin-bottom: 20px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 64px;
    margin-right: 15px;
}

header span{
    font-size: 1.8rem;
}

#container{
    width: 55%;
    margin: 30px auto;
    padding: 25px;
    border: solid 1px black;
    color: #04247c;
    background-color: white;
}

#container h1{
    margin-bottom: 15px;
    font-size: 2.4rem;
}

#container p{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
